<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Кондитерская SweetTrio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SweetTrio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent">
            <nav class="nav justify-content-end">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/main}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/about}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/order}">Заказать</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/contacts}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/register}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/login}">Авторизация</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1> Зарегистрированные пользователи</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/users/users_create}" class="btn btn-primary btn-sm mb-3"> Добавить нового пользователя</a>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/users/users_edit/{id}(id=${user.id})}"
                       class="btn btn-primary">Редактировать</a>
                    <a th:href="@{/users/{id}(id=${user.id})}"
                       class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>